## Importamos las librerías necesarias para nuestro tratado de datos

In [1]:
import pandas as pd
import numpy as np
import sidetable as stb
import re

# Eliminamos la limitación por defecto para las columnas y las filas
pd.options.display.max_columns = None
pd.options.display.max_rows = None

## Cargamos nuestro dataset

In [2]:
movies = pd.read_csv("data/movies.csv", index_col=0).reset_index()

In [3]:
movies.sample(5)

,Title,Rating,Year,Month,Certificate,Runtime,Directors,Stars,Genre,Filming_location,Budget,Income,Country_of_origin
713,The Revenant,8.0,2015,January,R,156,Alejandro G I rritu,"Leonardo DiCaprio, Tom Hardy, Will Poulter, Do...","Action, Adventure, Drama",Argentina,"$135,000,000","$532,950,503","Hong Kong, Taiwan, United States"
1332,District 9,7.9,2009,August,R,112,Neill Blomkamp,"Sharlto Copley, David James, Jason Cope, Natha...","Action, Sci-Fi, Thriller",South Africa,"$30,000,000","$210,888,950","South Africa, United States, New Zealand, Canada"
920,Oldboy,5.8,2013,November,R,104,Spike Lee,"Josh Brolin, Elizabeth Olsen, Samuel L Jackson...","Action, Drama, Mystery",USA,"$30,000,000","$5,186,767",United States
686,The Autopsy of Jane Doe,6.8,2016,December,R,86,Andr vredal,"Brian Cox, Emile Hirsch, Ophelia Lovibond, Mic...","Horror, Mystery, Thriller",UK,Unknown,"$6,170,043",United Kingdom
1758,Into the Blue,5.9,2005,September,PG-13,110,John Stockwell,"Paul Walker, Jessica Alba, Scott Caan, Ashley ...","Action, Adventure, Crime",Bahamas,"$50,000,000","$46,117,696",United States

A primera vista parece que el dataset está bastante limpio.

Antes de continuar vamos a prodecer a pasar los nombres de las columnas a minúsculas en vez de estar en Capitalize.

In [4]:
cols = [name.lower() for name in movies.columns ]

In [5]:
movies.columns = cols

### Leyenda de las columnas


|**COLUMNA**| **CONTENIDO**|
|-----------|---------------|
| title| Título de la película|
| rating| La puntuación que tiene en IMDB|
| year| Año en el que se estrenó la película|
| month| Mes de estreno|
| certificate| clasificación del publico al que está dirigida la película|
| runtime| Duración en minutos de la película|
| directors| Director de la película|
| stars| Actores principales de la película|
| genre| Género al que pertece la película|
| filming_location| Lugar donde se rodó la película|
| budget| Presupuesto para rodar la película|
| income| Ingresos obtenidos de la película|
| country_of_origin| País de origen de la película|

## Empezamos con un EDA básico

### Primero vemos si tenemos duplicados

In [6]:
movies.duplicated().sum()

0

### A continuación comprobamos el tipo de dato, tamaño del df y si tenemos duplicados

In [7]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              2000 non-null   object
 1   rating             1999 non-null   float64
 2   year               2000 non-null   int64
 3   month              2000 non-null   object
 4   certificate        1966 non-null   object
 5   runtime            2000 non-null   object
 6   directors          2000 non-null   object
 7   stars              2000 non-null   object
 8   genre              2000 non-null   object
 9   filming_location   2000 non-null   object
 10  budget             2000 non-null   object
 11  income             2000 non-null   object
 12  country_of_origin  2000 non-null   object
dtypes: float64(1), int64(1), object(11)
memory usage: 203.2+ KB

Tras una pequeña observación vemos que tenemos un total de 13 columnas por 2000 entradas y apenas tenemos duplicados

| COLUMNA| TIPO DE DATO | PRESENCIA DE NULOS |
|--------|--------------|--------------------|
| title| object - CORRECTO| NO| 
| rating| float - CORRECTO| SI| 
| year| int - CORRECTO| NO|
| month|object - CORRECTO| NO|
| certificate| object - CORRECTO| SI|
| runtime| object - INCORRECTO, debería ser INT| NO|
| directors| object - CORRECTO| NO|
| stars| object - CORRECTO| NO|
| genre| object - CORRECTO| NO|
|filming_location| object - CORRECTO| NO|
| budget| object - INCORRECTO, debería ser FLOAT| NO|
| income| object - INCORRECTO, debería ser FLOAT| NO|
| country_of_origin| object - CORRECTO| NO|

### Chequeamos en profundidad la cantidad exacta de nulos

In [8]:
movies.stb.missing()

                   missing  total  percent
certificate             34   2000     1.70
rating                   1   2000     0.05
title                    0   2000     0.00
year                     0   2000     0.00
month                    0   2000     0.00
runtime                  0   2000     0.00
directors                0   2000     0.00
stars                    0   2000     0.00
genre                    0   2000     0.00
filming_location         0   2000     0.00
budget                   0   2000     0.00
income                   0   2000     0.00
country_of_origin        0   2000     0.00

Como ya habíamos visto tras el paso anterior solo tenemos nulos en dos columnas y sus números totales son muy pequeños. Más abajo estudiaremos si debemos hacer algún tratado especial.

## Antes de continuar procedemos a "limpiar" y cambiar el tipo de dato de las columnas:
 - runtime
 - budget
 - income

### Procedemos con a ver los valores únicos de la columna "runtime" para ver si nos puede dar una pista de porque no está en formato INT

In [9]:
movies["runtime"].value_counts()

104        50
100        49
105        48
97         48
109        47
102        47
107        45
117        45
98         44
101        42
115        42
103        42
99         42
106        41
118        41
113        40
92         39
116        39
94         38
90         38
119        38
112        37
110        36
95         36
108        36
93         36
111        35
124        34
123        34
96         34
91         31
120        28
114        28
130        28
121        28
129        27
122        26
132        25
127        24
88         22
134        22
126        21
86         21
125        21
128        20
131        19
85         19
89         19
135        19
138        18
87         16
137        16
140        16
139        14
133        14
136        13
143        12
141        12
148        12
144        11
84         10
146         9
152         9
147         8
83          7
151         6
154         6
158         6
149         5
142         5
165         5
82          5
157         5
150         5
161         5
77          5
156         5
81          4
145         4
169         4
159         3
164         3
163         3
80          3
79          3
180         3
153         3
78          3
162         2
170         2
75          2
Unknown     2
187         2
160         2
167         2
168         2
191         1
201         1
166         1
172         1
71          1
175         1
192         1
50          1
70          1
209         1
181         1
179         1
242         1
155         1
176         1
188         1
178         1
Name: runtime, dtype: int64

Vemos que tenemos dos entradas en nuestro dataset con el campo rellenado como "Unknown" . Así que al ser un número asequible de busquedas procedemos a filtrar el dataset para rellenarlos de manera manual.

In [10]:
movies[movies["runtime"]== "Unknown"]

,title,rating,year,month,certificate,runtime,directors,stars,genre,filming_location,budget,income,country_of_origin
848,Mantus,2.1,2014,2014,NaN,Unknown,Enzo Zelocchi,"Enzo Zelocchi, Miryam Negrin, Paul Gregory, Ma...","Comedy, Drama, Thriller",USA,"$250,000",Unknown,United States
1249,My Little Princess,9.6,2010,September,NaN,Unknown,Enzo Zelocchi,"Enzo Zelocchi, Charlotte Labadie, David M Edel...","Romance, Drama, Family",Unknown,$10,Unknown,United States

Tras una busqueda por internet descubrimos que la duraciones que faltan son de 100 y 21 minutos respectivamente.

In [11]:
movies.iloc[848,5]= 100
movies.iloc[1249,5]= 21

Comprobamos que las entradas tienen los nuevos regitros

In [12]:
movies.iloc[848]

title                                                           Mantus
rating                                                             2.1
year                                                              2014
month                                                             2014
certificate                                                        NaN
runtime                                                            100
directors                                                Enzo Zelocchi
stars                Enzo Zelocchi, Miryam Negrin, Paul Gregory, Ma...
genre                                          Comedy, Drama, Thriller
filming_location                                                   USA
budget                                                       $250,000
income                                                         Unknown
country_of_origin                                        United States
Name: 848, dtype: object

In [13]:
movies.iloc[1249]

title                                               My Little Princess
rating                                                             9.6
year                                                              2010
month                                                        September
certificate                                                        NaN
runtime                                                             21
directors                                                Enzo Zelocchi
stars                Enzo Zelocchi, Charlotte Labadie, David M Edel...
genre                                           Romance, Drama, Family
filming_location                                               Unknown
budget                                                            $10
income                                                         Unknown
country_of_origin                                        United States
Name: 1249, dtype: object

In [14]:
movies["runtime"] = movies["runtime"].astype(int)

### Seguimos con la columna "budget". Primero vemos sus valores únicos para valorar la limpieza.

In [15]:
movies["budget"].value_counts()

Unknown            304
$30,000,000         73
$40,000,000         65
$20,000,000         58
$25,000,000         54
$50,000,000         53
$150,000,000        50
$60,000,000         48
$15,000,000         41
$100,000,000        41
$200,000,000        39
$35,000,000         32
$75,000,000         31
$80,000,000         29
$5,000,000          28
$45,000,000         27
$55,000,000         24
$110,000,000        23
$70,000,000         22
$10,000,000         21
$90,000,000         21
$65,000,000         20
$12,000,000         20
$120,000,000        20
$85,000,000         19
$6,000,000          18
$130,000,000        18
$26,000,000         17
$18,000,000         17
$19,000,000         15
$125,000,000        15
$7,000,000          15
$38,000,000         15
$17,000,000         14
$175,000,000        14
$160,000,000        14
$2,000,000          14
$3,000,000          13
$32,000,000         12
$9,000,000          12
$250,000,000        12
$24,000,000         12
$28,000,000         12
$8,000,000          11
$11,000,000         10
$22,000,000         10
$16,000,000         10
$4,000,000          10
$170,000,000        10
$165,000,000        10
$14,000,000          9
$13,000,000          9
$33,000,000          9
$135,000,000         9
$140,000,000         8
$180,000,000         8
$37,000,000          8
$68,000,000          7
$500,000             7
$1,000,000           7
$185,000,000         7
$95,000,000          6
$190,000,000         6
$69,000,000          6
$52,000,000          6
$43,000,000          6
$61,000,000          6
$21,000,000          6
$58,000,000          6
$145,000,000         6
$34,000,000          6
$29,000,000          6
$105,000,000         5
$39,000,000          5
$48,000,000          5
$42,000,000          5
$225,000,000         5
$27,000,000          5
$2,500,000           5
$88,000,000          4
$23,000,000          4
$8,500,000           4
$62,000,000          4
$46,000,000          4
€ 4,000,000          4
$78,000,000          4
$4,500,000           4
$3,500,000           4
$17,500,000          3
$195,000,000         3
$94,000,000          3
$250,000             3
€ 1,500,000          3
$76,000,000          3
$4,800,000           3
$92,000,000          3
$300,000,000         3
$178,000,000         3
$66,000,000          3
$44,000,000          3
$155,000,000         3
$6,500,000           3
$79,000,000          3
$31,000,000          3
$36,000,000          3
£3,500,000           2
$2,400,000           2
£1,000,000           2
$97,000,000          2
$149,000,000         2
$84,000,000          2
$56,000,000          2
$1,500,000           2
$82,000,000          2
$230,000,000         2
$245,000,000         2
$7,500,000           2
$12,600,000          2
$3,300,000           2
€ 12,000,000         2
$81,000,000          2
₩10,000,000,000      2
$210,000,000         2
$47,000,000          2
€ 13,500,000         2
$12,500,000          2
£4,000,000           2
$275,000,000         2
€ 5,000,000          2
$5,500,000           2
$260,000,000         2
$67,000,000          2
$1,100,000           2
$72,000,000          2
$115,000,000         2
$16,500,000          2
€ 1,948,000          1
$117,000,000         1
$6,800,000           1
£695,393             1
CN¥100,000,000       1
$10                  1
£150,000,000         1
€ 4,830,000          1
$10,500,000          1
NOK 19,900,000       1
$2,600,000           1
$7,000               1
$8,600,000           1
£1,700,000           1
$2,700,000           1
€ 2,400,000          1
$300,000             1
€ 10,002,914         1
$750,000             1
$242,000             1
A$3,000,000          1
€ 9,500,000          1
$128,000,000         1
$32,500,000          1
$900,000             1
$9,500,000           1
€ 2,200,000          1
$56,600,000          1
$109,000,000         1
£20,000,000          1
$7,400,000           1
$137,000,000         1
$93,000,000          1
$163,000,000         1
$2,800,000           1
$237,000,000         1
$50,200,000          1
$400,000             1
$1,200,000           1
$270,000,000         1
$209,000,000         1
£8,000,000           1
$258,000,000         1
$54,000,000          1
£25,000,000          1
£26,000,000          1
$200,000             1
$15,000              1
¥300,000,000         1
₩12,215,500,000      1
£9,800,000           1
$10,200,000          1
£1,500,000           1
€ 3,400,000          1
$150,000             1
$82,500,000          1
$72,500,000          1
£13,500,000          1
CA$2,200,000         1
$113,000,000         1
A$8,240,000          1
₹550,000,000         1
$23,600,000          1
$3,700,000           1
₩4,200,000,000       1
$37,500,000          1
$7,900,000           1
$950,000             1
€ 3,390,000          1
$11,715,578          1
$475,000             1
$126,000,000         1
€ 18,151,814         1
$15,500,000          1
$9,750,000           1
$132,000,000         1
$230,000             1
$207,000,000         1
$350,000,000         1
$40,600,000          1
€ 30,690,000         1
$5,400,000           1
$6,200,000           1
$321,000,000         1
€ 2,600,000          1
$1,700,000           1
€ 8,700,000          1
$3,200,000           1
$59,000,000          1
€ 8,000,000          1
$162,000,000         1
$11,000              1
$880,000             1
€ 11                 1
$7,700,000           1
$217,000,000         1
$19,400,000          1
$317,000,000         1
$104,000,000         1
$177,200,000         1
DKK 19,500,000       1
$18,600,000          1
$44,500,000          1
$183,000,000         1
$85,900,000          1
€ 10,000,000         1
₹3,500,000,000       1
€ 7,500,000          1
CA$15,000            1
SEK 19,000,000       1
$24,350,000          1
$820,000             1
€ 5,700,000          1
$205,000,000         1
€ 14,000,000         1
$84,500,000          1
$50,300,000          1
$5,300,000           1
$356,000,000         1
$11,400,000          1
$159,000,000         1
$97,600,000          1
€ 14,750,000         1
£100,000             1
£5,400,000           1
$35,000              1
$22,500,000          1
$127,000,000         1
$58,800,000          1
$5,100,000           1
$1,600,000           1
$19,800,000          1
$13,300,000          1
$4,700,000           1
$50,000              1
$39,200,000          1
€ 4,645,437          1
$215,000,000         1
€ 9,200,000          1
$27,220,000          1
€ 300                1
$3,800,000           1
$220,000,000         1
£3,000,000           1
$270,000             1
$102,000,000         1
$16,200,000          1
$100,000             1
$49,000,000          1
$14,800,000          1
¥370,000,000         1
$144,000,000         1
$9,900,000           1
€ 3,500,000          1
£500,000             1
$6,420,000           1
$108,000,000         1
$11,800,000          1
$1,800,000           1
€ 12,300,000         1
$9,400,000           1
$74,000,000          1
$50,100,000          1
$53,000,000          1
$18,026,148          1
$176,000,000         1
€ 6,000,000          1
$8,900,000           1
€ 4,800,000          1
Name: budget, dtype: int64

Tras la observación de los valores únicos vemos que las entradas contienen "," y que todas están acompañadas del símbolo de la moneda que refleja la cantidad gastada en crear la película, esto "complicará la limpieza"  porque para poder contrastar bien los datos lo adecuado es que estén todos en la misma unidad numérica.

#### Lo primero que vamos hacer es eliminar las comas, ya que Python no interpreta con comas los números, y los espacios también.

In [16]:
movies["budget"] = movies["budget"].str.replace(",", "")
movies["budget"] = movies["budget"].str.replace(" ", "")

#### Lo siguiente que vamos hacer es identificar que tipo de símbolos tenemos como unidad de moneda

In [17]:
patron_caracteres = r"(\D+)" # Creamos un patron de regex para encontrar todos los símbolos que no sean numéricos
lista_vacia = [] # Y una lista vacía donde apendearemos los símbolos que encontremos

for valor in movies["budget"]:
    lista_vacia.append(re.findall(patron_caracteres, valor)[0])

In [18]:
caracteres_unicos = set(lista_vacia) # Convertimos a set para eliminar duplicados 
caracteres_unicos

{'$',
 'A$',
 'CA$',
 'CN¥',
 'DKK\xa0',
 'NOK\xa0',
 'SEK\xa0',
 'Unknown',
 '£',
 '¥',
 '₩',
 '€',
 '₹'}

De esta forma ya sabemos que monedas tenemos en la columna de "budget". Vamos a prodeceder a crear una función para automatizar el proceso de cambio de divisa.

Uno de los símbolos que identificamos es el won. Corea del Norte y Corea del Sur comparten moneda aunque no cambio de divisa, por lo que para asegurarnos, auqnue lo más probable es que estemos hablando de películas de corea del sur, vamos hacer una comprobación.

In [19]:
lista_won = ['₩10000000000', '₩12215500000', '₩4200000000' ]
movies[movies["budget"].isin(lista_won)]

,title,rating,year,month,certificate,runtime,directors,stars,genre,filming_location,budget,income,country_of_origin
604,The Handmaiden,8.1,2016,June,Not Rated,145,Park Chan wook,"Kim Min hee, Ha Jung woo, Cho Jin woong, Moon ...","Drama, Romance, Thriller",Japan,₩10000000000,"$37,854,655",South Korea
624,Train to Busan,7.6,2016,July,Not Rated,118,Sang ho Yeon,"Gong Yoo, Jung Yu mi, Ma Dong seok, Su an Kim","Action, Horror, Thriller",South Korea,₩10000000000,"$92,764,199",South Korea
1673,The Host,7.1,2006,March,R,120,Bong Joon Ho,"Song Kang ho, Byun Hee Bong, Park Hae il, Bae ...","Drama, Horror, Sci-Fi",South Korea,₩12215500000,"$89,433,436",South Korea
1782,Lady Vengeance,7.5,2005,July,R,115,Park Chan wook,"Nam mi Kang, Jeong nam Choi, Hye Sook Go, Bok ...","Crime, Drama, Thriller",South Korea,₩4200000000,"$23,834,149",South Korea

Efectivamente son películas que su país de origen pertenece a Corea del Sur.

Lo mismo ocurre con las tres naciones Escandinavas (Noruega,Dinamarca y Suecia), que comparten moneda, la corona, pero no cambio de divisa. No obstante estás están mejor identificadas y no hace falta ahcer comprobaciones.

Hay un símbolo que no identificamos, "A$", así que vamos a proceder a su búsqueda para ver si sus entradas nos dan alguna pista de que tipo de moneda es o si es solo un error.

In [20]:
lista_caracter_desconocido = ["A$3000000", "A$8240000"]
movies[movies["budget"].isin(lista_caracter_desconocido)]

,title,rating,year,month,certificate,runtime,directors,stars,genre,filming_location,budget,income,country_of_origin
1105,Sleeping Beauty,5.3,2011,December,TV-14,101,Julia Leigh,"Emily Browning, Rachael Blake, Ewen Leslie, Br...","Drama, Mystery, Romance",Australia,A$3000000,"$408,680",Australia
1390,Mary and Max,8.1,2009,March,Not Rated,92,Adam Elliot,"Toni Collette, Philip Seymour Hoffman, Eric Ba...","Animation, Comedy, Drama",Australia,A$8240000,"$1,740,429",Australia

Son dolares australianos.

Hacemos una búsqueda para ver cuantos países tienen como "Unknown" la entrada de la columna "budget"

In [21]:
len(movies[movies["budget"]== "Unknown"])

304

Como son más de 300 títulos con la entrada en la columna de "budget" como "Unknown" vamos a cambiar este valor por un Nan, que nos permitirá tener la columna en tipo de dato numérico y si el día de mañana tenemos oportunidad de rellenar esta información con un tratamiento para nulos puede ser relativamente "sencillo"

#### Como último paso para esta columna será hacer el cálculo de todos los presupuestos que no sean en dolares a esta moneda, ya que es la más internacional.

Los cambios de divisas se han realizado el 9 de marzo. En esa fecha los cambios de moneda están a:

|**MONEDA ORIGINAL**|**DOLARES**|
|-------------------|-----------|
| 1 libra | 1,19 $|
| 1 Yuan | 0.14 $|
| 1 euro | 1,06 $|
| 1 won(surcoreano) | 0.00076 $|
| 1 rupia | 0.012 $|
| 1 SEK(Suecia) | 0.093 $|
| 1 NOK(Noruega) | 0.094 $|
| 1 DKK(Dinamarca) | 0.014 $|
| 1 CA$(Canadienses) | 0.72 $|
| 1 A$(Australianos) | 0.66 $|

In [22]:
def cambio_divisa(col):
    dicc_divisas_valor = { '$': 1, 'A$': 0.66, 'CA$': 0.72 ,'CN¥': 0.14, 'DKK\xa0': 0.014, 'NOK\xa0': 0.094 , 'SEK\xa0': 0.093 , '£': 1.19, '¥': 0.14 ,'₩': 0.00076, '€': 1.06 , '₹': 0.012}
   

    patron_caracteres = r"(\D+)(\d+)" 

    if col == "Unknown":
        return np.nan
    else: 
        pass


 
    simbolo = re.findall(patron_caracteres, col)
    #print(simbolo)
    #print(simbolo[0][0])
    if simbolo[0][0] in dicc_divisas_valor.keys():

        num = int(simbolo[0][1])
        #print(num)
        cambio = num * dicc_divisas_valor[simbolo[0][0]]
        #print(cambio)
        return cambio

In [23]:
movies["dollar_budget"] = movies["budget"].apply(cambio_divisa)

In [24]:
movies.sample(2)

,title,rating,year,month,certificate,runtime,directors,stars,genre,filming_location,budget,income,country_of_origin,dollar_budget
764,Black Mass,6.9,2015,September,R,123,Scott Cooper,"Johnny Depp, Benedict Cumberbatch, Dakota John...","Biography, Crime, Drama",USA,$53000000,"$99,775,678","United States, United Kingdom",53000000.0
70,See How They Run,6.5,2022,September,PG-13,98,Tom George,"Kieran Hodgson, Pearl Chanda, Gregory Cox, Har...","Comedy, Mystery",UK,$40000000,"$21,966,634","United States, United Kingdom",40000000.0

Damos por finalizada la limpieza de la columna "budget" con la creación de la columna limpia "dollar_budget"

### Comenzamos la limpieza de la columna "income".

#### Chequeamos sus valores únicos para ver a que nos enfrentamos

In [25]:
movies["income"].value_counts()

Unknown            145
$2,267,946,983       1
$205,599,393         1
$71,585,235          1
$27,699,692          1
$443,140,005         1
$47,405,566          1
$28,190,603          1
$102,366,815         1
$61,808,775          1
$31,430,334          1
$54,004,950          1
$186,167,139         1
$122,444,772         1
$394,717             1
$219,103,655         1
$16,443,609          1
$55,720,772          1
$183,658,498         1
$6,577,779           1
$3,492               1
$91,509,154          1
$63,649,529          1
$2,425,535           1
$48,428,063          1
$13,657,649          1
$48,858,618          1
$68,777,554          1
$129,540,522         1
$62,357,900          1
$87,812,371          1
$36,348,784          1
$40,416,563          1
$108,902,486         1
$335,802,786         1
$1,149,138           1
$790,653,942         1
$163,728,902         1
$128,108,211         1
$226,837,760         1
$195,702,963         1
$585,796,247         1
$408,430,415         1
$39,628,044          1
$1,006,234,167       1
$164,112,721         1
$183,348,429         1
$122,426,792         1
$100,140,916         1
$17,267,324          1
$41,633,384          1
$22,955,544          1
$101,344,412         1
$18,599,102          1
$33,334,176          1
$1,740,429           1
$13,085,023          1
$90,842,646          1
$20,648,328          1
$694,476,782         1
$360,366,870         1
$325,113             1
$735,099,102         1
$413,106,170         1
$836,303,693         1
$46,474,181          1
$3,559,160           1
$676,126             1
$77,912,251          1
$791,217,826         1
$60,262,836          1
$27,127,620          1
$93,621,340          1
$124,627,844         1
$60,800,444          1
$46,749,646          1
$524,028,679         1
$317,375,031         1
$185,382,813         1
$385,680,446         1
$934,504,700         1
$469,328,079         1
$43,474,578          1
$8,496,009           1
$321,457,747         1
$325,286,646         1
$309,231,694         1
$166,842,739         1
$104,414,200         1
$29,010,817          1
$381,509,870         1
$95,714,875          1
$91,980,359          1
$302,469,017         1
$243,006,126         1
$1,333,377           1
$711,025,481         1
$267,045,765         1
$485,930,816         1
$35,079,650          1
$178,866,158         1
$127,944,208         1
$214,104,620         1
$9,760,107           1
$371,353,001         1
$136,316,880         1
$45,995,223          1
$27,639,579          1
$373,062,864         1
$31,556,061          1
$775,385             1
$102,392,080         1
$210,888,950         1
$171,844,840         1
$7,413,863           1
$521,311,890         1
$419,665,568         1
$16,934,369          1
$171,627,434         1
$340,487,836         1
$43,343,384          1
$212,874,864         1
$211,787,511         1
$255,743,093         1
$188,126             1
$128,792,411         1
$21,972,336          1
$150,988,382         1
$85,897,593          1
$106,407,672         1
$178,767,383         1
$44,004,502          1
$15,617              1
$10,161,493          1
$51,699,984          1
$34,816,824          1
$298,572,799         1
$51,262,751          1
$111,231,041         1
$115,900,897         1
$164,170,327         1
$230,685,453         1
$92,649,419          1
$76,014,335          1
$97,838,349          1
$709,709,780         1
$204,826,668         1
$170,812,526         1
$137,587,063         1
$585,410,052         1
$269,755,430         1
$232,372,681         1
$203,627,753         1
$153,383,627         1
$87,238,158          1
$894,983,373         1
$80,743,363          1
$49,778,552          1
$57,470,220          1
$70,016,220          1
$42,653,739          1
$56,675,895          1
$459,242,249         1
$84,785,914          1
$34,612,443          1
$623,726,085         1
$372,234,864         1
$131,016,624         1
$31,126,421          1
$137,515,140         1
$76,182,388          1
$942,235,757         1
$95,696,996          1
$309,979,994         1
$62,803,180          1
$172,394,180         1
$55,990,299          1
$269,784,201         1
$7,519,490           1
$66,476,363          1
$9,162               1
$42,784,344          1
$113,244,290         1
$101,624,843         1
$378,410,542         1
$264,770,996         1
$41,627,431          1
$269,958,228         1
$96,409,300          1
$44,734,660          1
$163,403,799         1
$3,984,669           1
$244,232,688         1
$49,259,766          1
$632,083,197         1
$589,580,482         1
$75,981,180          1
$27,090,159          1
$403,449,830         1
$159,808,370         1
$342,463,063         1
$11,227,336          1
$37,105,289          1
$25,740,863          1
$64,828,421          1
$105,833,257         1
$22,108,789          1
$22,818,256          1
$78,201,830          1
$4,658,401           1
$113,398,237         1
$22,472,631          1
$603,900,354         1
$93,945,766          1
$168,319,243         1
$233,093,859         1
$169,748,929         1
$17,929,684          1
$418,765,519         1
$2,260,712           1
$82,410,456          1
$162,655,351         1
$629,443,428         1
$71,571,300          1
$225,132,113         1
$223,241,637         1
$70,439,696          1
$201,545,517         1
$18,755,936          1
$28,548,025          1
$204,313,400         1
$2,922,917,914       1
$98,159,963          1
$56,107,312          1
$481,800,873         1
$86,752,352          1
$142,044,638         1
$147,332,697         1
$132,274,484         1
$6,742,156           1
$63,782,078          1
$17,039,814          1
$150,501,815         1
$543,848,418         1
$36,192,775          1
$9,232,318           1
$151,672,318         1
$81,515,369          1
$1,045,713,802       1
$694,713,380         1
$70,038,838          1
$185,770,310         1
$33,716,389          1
$65,100,369          1
$89,792,502          1
$161,849,455         1
$214,945,591         1
$136,515,867         1
$306,442,085         1
$23,308,615          1
$245,724,603         1
$19,561,904          1
$149,228,077         1
$483,866,772         1
$3,338,690           1
$71,508,440          1
$1,808               1
$174,822,325         1
$9,148,519           1
$1,688,710           1
$58,409,247          1
$63,543,328          1
$31,505,287          1
$22,939,027          1
$712,205,856         1
$373,993,951         1
$86,157,237          1
$299,268,508         1
$63,523,283          1
$177,243,185         1
$4,633,668           1
$626,137,675         1
$260,095,986         1
$216,197,492         1
$586,764,305         1
$559,852,396         1
$75,450,437          1
$59,389,433          1
$149,878,437         1
$173,930,596         1
$219,851,172         1
$1,271,319           1
$10,578,643          1
$877,244,782         1
$116,471,580         1
$68,267,862          1
$128,955,898         1
$96,262,212          1
$4,552,970           1
$156,491,279         1
$84,247,681          1
$8,315               1
$376,152,455         1
$32,613,173          1
$1,944,287           1
$140,470,746         1
$48,963,137          1
$47,636,031          1
$14,758,997          1
$99,357,138          1
$8,779,609           1
$126,636,097         1
$8,518,634           1
$198,467,168         1
$4,424,699           1
$234,989,584         1
$314,975,955         1
$130,781             1
$2,631,275           1
$54,819,301          1
$19,123,767          1
$746,921,274         1
$449,326,618         1
$352,616,690         1
$209,838,559         1
$226,904,017         1
$110,206,216         1
$232,617,430         1
$149,542,245         1
$370,569,774         1
$1,123,794,079       1
$216,639,112         1
$19,504,039          1
$97,231,420          1
$426,588,510         1
$408,680             1
$145,079,584         1
$554,987,477         1
$78,714,970          1
$1,342,359,942       1
$147,483,926         1
$96,070,507          1
$240,159,255         1
$977,671             1
$11,039,031          1
$77,229,695          1
$15,950,164          1
$22,926,076          1
$177,584,879         1
$5,060,438           1
$159,291,809         1
$48,668,907          1
$422,618             1
$60,331,447          1
$359,126,022         1
$3,843,774           1
$204,594,016         1
$278,780,441         1
$336,365,676         1
$5,224,938           1
$293,503,354         1
$60,738,797          1
$9,918,093           1
$1,669,947           1
$465,725             1
$157,107,755         1
$698,509,825         1
$49,779,728          1
$27,093,592          1
$12,966,357          1
$83,188,165          1
$67,918,658          1
$427,374,317         1
$11,042,068          1
$415,686,217         1
$1,066,970,811       1
$177,238,796         1
$19,439,764          1
$321,885,765         1
$13,796,834          1
$49,843,011          1
$152,263,880         1
$216,528,528         1
$15,038,301          1
$44,723,232          1
$6,890,432           1
$105,734,416         1
$62,695,489          1
$752,600,867         1
$101,729             1
$91,720,255          1
$86,855,739          1
$211,780,824         1
$167,805,466         1
$32,686,500          1
$5,144,717           1
$28,491              1
$215,283,742         1
$290,745,055         1
$139,789,765         1
$45,491,656          1
$67,448,651          1
$24,172,201          1
$29,397,654          1
$127,233,108         1
$274,470,394         1
$4,324,817           1
$40,662,632          1
$154,026,136         1
$224,920,375         1
$49,421,974          1
$977,070,383         1
$5,341,098           1
$96,188,903          1
$1,541               1
$329,398,046         1
$294,805,697         1
$836,848,102         1
$41,097,853          1
$6,985,158           1
$6,318,409           1
$88,823,111          1
$26,895,481          1
$165,184,237         1
$41,002,607          1
$157,887,643         1
$97,984,015          1
$187,361,754         1
$665,692,281         1
$127,869,379         1
$79,781,695          1
$72,526,996          1
$5,468,650           1
$152,930,623         1
$67,876,281          1
$170,458,922         1
$319,713,881         1
$261,989,769         1
$64,780,213          1
$494,879,471         1
$543,157,985         1
$100,106,454         1
$15,440,333          1
$89,520,336          1
$56,032,889          1
$321,669,741         1
$592,462,816         1
$400,063,852         1
$75,026,327          1
$1,278,650           1
$129,190,869         1
$252,276,927         1
$6,788,659           1
$199,006,387         1
$226,497,209         1
$623,933,331         1
$1,025,468,216       1
$102,820,008         1
$4,087,363           1
$493,214,993         1
$76,196,538          1
$844,281             1
$271,457,301         1
$388,156,011         1
$228,738,393         1
$349,183,316         1
$522,657,936         1
$290,835,269         1
$54,700,105          1
$35,825,316          1
$34,809,623          1
$23,936,908          1
$203,567,857         1
$216,763,646         1
$198,520,934         1
$70,067,909          1
$99,378,985          1
$96,455,697          1
$211,468,235         1
$37,939,637          1
$213,719,942         1
$219,100,084         1
$90,709,367          1
$362,744,280         1
$22,605,153          1
$11,850,214          1
$102,278,712         1
$256,697,520         1
$1,590,308           1
$928,760,770         1
$113,100,873         1
$92,181,574          1
$1,532,932           1
$203,450             1
$103,911,669         1
$23,925,492          1
$33,882,243          1
$96,105,910          1
$187,281,115         1
$374,583,879         1
$61,950,770          1
$50,826,898          1
$203,172,417         1
$129,342,769         1
$177,427,090         1
$55,470,154          1
$131,977,904         1
$104,882,445         1
$181,239,132         1
$134,734,481         1
$178,311,729         1
$21,148,829          1
$27,388,767          1
$167,298,192         1
$545,436             1
$109,706,931         1
$92,863,945          1
$15,849,759          1
$353,133,898         1
$57,223,890          1
$115,900,534         1
$220,239,925         1
$98,410,061          1
$123,971,376         1
$93,974,620          1
$42,013,878          1
$204,681,899         1
$30,894,796          1
$77,663,556          1
$93,983,911          1
$42,886,719          1
$155,457,327         1
$7,164,778           1
$145,166,804         1
$6,819               1
$49,327,405          1
$13,411,957          1
$23,834,149          1
$40,442,443          1
$59,981,548          1
$11,098,131          1
$71,992,655          1
$88,933,562          1
$92,374,674          1
$108,539,911         1
$49,334,775          1
$119,240,351         1
$82,468,097          1
$47,096,206          1
$33,296,457          1
$50,652,203          1
$56,070,433          1
$788,976,453         1
$314,432,837         1
$96,822,421          1
$168,423,227         1
$49,718,611          1
$237,536,126         1
$8,203,235           1
$612,054,506         1
$154,674,241         1
$300,157,638         1
$154,118,820         1
$115,505,027         1
$130,834,852         1
$631,607,053         1
$46,138,887          1
$552,639,571         1
$15,125,687          1
$30,381,722          1
$118,230,644         1
$797,660,766         1
$74,036,715          1
$497,409,852         1
$130,126,277         1
$347,512,318         1
$96,593,018          1
$316,110,472         1
$194,137,091         1
$170,268,750         1
$7,565,807           1
$20,901,859          1
$197,101,678         1
$6,291,958           1
$38,364,277          1
$10,012,022          1
$120,801,243         1
$48,260,279          1
$116,643,421         1
$5,410,749           1
$220,673,217         1
$60,466,876          1
$141,337,989         1
$453,133             1
$38,955,598          1
$33,030,115          1
$427,344,325         1
$98,769,390          1
$160,846,332         1
$195,745,823         1
$73,498,611          1
$402,599             1
$190,538,630         1
$22,441,497          1
$273,339,556         1
$265,328,738         1
$68,296,293          1
$16,689,283          1
$107,363,905         1
$232,722,935         1
$133,960,541         1
$8,701,337           1
$20,235,426          1
$141,591,324         1
$160,099,222         1
$1,062,878           1
$23,726,793          1
$16,763,804          1
$79,316,957          1
$19,526,014          1
$80,154,140          1
$63,102,666          1
$58,878,723          1
$83,439              1
$160,466,000         1
$68,514,844          1
$46,061,847          1
$164,433,867         1
$65,565,672          1
$250,397,798         1
$18,750,246          1
$53,293,628          1
$259,175,788         1
$81,240,406          1
$88,323,487          1
$43,935,763          1
$58,795,814          1
$407,711,549         1
$179,179,718         1
$64,445,708          1
$156,595,191         1
$131,095,990         1
$10,128,960          1
$177,502,387         1
$654,264,015         1
$24,152,155          1
$15,421,226          1
$180,906,076         1
$1,146,457,748       1
$76,490,720          1
$226,538,892         1
$247,356,032         1
$69,424,389          1
$20,205,757          1
$73,029,190          1
$35,060,882          1
$2,280,924           1
$103,370,127         1
$141,067,127         1
$116,650,613         1
$82,102,379          1
$71,255,003          1
$2,766,976           1
$1,526,951           1
$10,592,180          1
$65,470,529          1
$118,686,937         1
$176,070,171         1
$90,941,129          1
$1,166,717           1
$16,829,545          1
$179,265,204         1
$741,847,937         1
$433,371,112         1
$101,191,884         1
$245,285,165         1
$173,013,509         1
$90,259,536          1
$454,627,263         1
$484,592,874         1
$55,495,563          1
$80,981,914          1
$95,708,457          1
$207,725,639         1
$211,622,535         1
$4,988,181           1
$86,468,162          1
$28,650,575          1
$71,406,573          1
$121,975,011         1
$123,218,424         1
$87,135,520          1
$940,352,645         1
$236,350,661         1
$58,469,210          1
$8,483,797           1
$142,400,065         1
$365,352,546         1
$14,821,658          1
$31,976,848          1
$101,058,954         1
$186,003,591         1
$326,706,115         1
$38,629,478          1
$43,451,846          1
$495,303             1
$21,949,234          1
$461,991,867         1
$21,510,851          1
$456,082,343         1
$120,673,227         1
$109,676,311         1
$574,481,229         1
$83,862,032          1
$291,480,452         1
$616,505,162         1
$47,232,776          1
$110,768,122         1
$205,850,134         1
$86,852,128          1
$792,184             1
$95,802,916          1
$7,766,240           1
$77,677,553          1
$77,356,942          1
$10,907,485          1
$22,242,388          1
$70,595,464          1
$114,197,742         1
$164,115,897         1
$262,552,893         1
$384,336,108         1
$240,685,326         1
$38,623,262          1
$70,009,308          1
$460,435,291         1
$180,557,550         1
$398,479,497         1
$158,964,610         1
$100,605,135         1
$6,566,277           1
$16,468,343          1
$2,294,291           1
$135,330,182         1
$760,006,945         1
$87,528,173          1
$171,720,398         1
$163,362,095         1
$135,039,924         1
$391,081,192         1
$307,127,625         1
$1,066,179,747       1
$57,194,667          1
$301,913,131         1
$119,483,446         1
$118,890,272         1
$293,514,336         1
$35,310,019          1
$35,728,183          1
$30,984,583          1
$156,846,321         1
$193,355,800         1
$75,513,170          1
$311,312,624         1
$67,091,915          1
$44,852              1
$132,963,417         1
$2,340,110           1
$15,001,776          1
$92,011,561          1
$65,048,678          1
$59,768,495          1
$444,100,035         1
$7,938,872           1
$101,276,318         1
$196,393,745         1
$11,446,172          1
$960,996,492         1
$219,922,417         1
$25,038,466          1
$34,806,812          1
$258,097,122         1
$813,367,380         1
$25,422,088          1
$175,372,502         1
$43,095,175          1
$174,440,724         1
$159,814,490         1
$11,293,663          1
$118,114,220         1
$21,897,373          1
$147,717,833         1
$152,005,713         1
$20,936,722          1
$78,638,987          1
$46,789,413          1
$75,511,123          1
$5,796,630           1
$32,511,655          1
$30,271,556          1
$169,333,034         1
$14,353,654          1
$6,819,587           1
$8,742,330           1
$253,625,427         1
$80,460,948          1
$128,453,183         1
$29,625,761          1
$25,000,167          1
$8,642,858           1
$92,991,835          1
$100,266,865         1
$99,255,460          1
$147,748,505         1
$186,797,986         1
$40,445,129          1
$86,369,815          1
$61,385,065          1
$487,287,646         1
$81,979,826          1
$104,478,416         1
$162,949,164         1
$46,432,264          1
$17,709,155          1
$191,466,556         1
$18,637,690          1
$542,063,846         1
$57,130,027          1
$603,873,119         1
$118,133,252         1
$6,982               1
$230,884,728         1
$868,390,560         1
$76,669,554          1
$172,087             1
$178,062,759         1
$15,785,148          1
$556,906,378         1
$134,686,457         1
$158,733,820         1
$102,854,431         1
$18,299,138          1
$177,378,645         1
$3,947,579           1
$2,635,305           1
$65,079,104          1
$56,995,646          1
$123,276,807         1
$89,083,229          1
$198,636,868         1
$68,766,121          1
$46,117,696          1
$58,072,119          1
$97,076,152          1
$111,069,515         1
$96,258,201          1
$53,321,673          1
$7,022,209           1
$107,516,369         1
$105,316,267         1
$371,594,210         1
$85,638,656          1
$262,511,490         1
$333,535,934         1
$31,670,620          1
$3,814,717           1
$558,764             1
$162,242,962         1
$130,982,129         1

Parece que esta columna será más sencilla ya que todas las entradas paraecen estar reflejadas en dolares, por lo que solo hay quemover el síbolo "$" y las comas.

En esta columna también tendremos valores "Unknown" que vamos a reemplazar por np.nan, para como en la columna anterior, permitir su conversión a tipo numérico y ademas de encontrar la información para rellenar será sencillo con algún método para tratar los nulos.

In [26]:
movies["income"] = movies["income"].str.replace("$", "")
movies["income"] = movies["income"].str.replace(",", "")

/tmp/ipykernel_249/875373714.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  movies["income"] = movies["income"].str.replace("$", "")

In [27]:
def unknown_nulos(col):
    if col == "Unknown":
        return np.nan
    else:
        return col

In [28]:
movies["income"] = movies["income"].apply(unknown_nulos)
movies["income"] = pd.to_numeric(movies["income"])

Comprobamos que las columnas tratadas han cambiado el tipo de dato correctamente

In [29]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              2000 non-null   object
 1   rating             1999 non-null   float64
 2   year               2000 non-null   int64
 3   month              2000 non-null   object
 4   certificate        1966 non-null   object
 5   runtime            2000 non-null   int64
 6   directors          2000 non-null   object
 7   stars              2000 non-null   object
 8   genre              2000 non-null   object
 9   filming_location   2000 non-null   object
 10  budget             2000 non-null   object
 11  income             1855 non-null   float64
 12  country_of_origin  2000 non-null   object
 13  dollar_budget      1696 non-null   float64
dtypes: float64(3), int64(2), object(9)
memory usage: 218.9+ KB

In [30]:
movies.sample(5)

,title,rating,year,month,certificate,runtime,directors,stars,genre,filming_location,budget,income,country_of_origin,dollar_budget
916,We're the Millers,7.0,2013,August,R,110,Rawson Marshall Thurber,"Jason Sudeikis, Jennifer Aniston, Emma Roberts...","Comedy, Crime",USA,$37000000,269994119.0,"United States, United Kingdom",37000000.0
1482,Defiance,7.1,2008,January,R,137,Edward Zwick,"Daniel Craig, Liev Schreiber, Jamie Bell, Alex...","Action, Drama, History",Lithuania,$32000000,51262751.0,United States,32000000.0
715,Love the Coopers,5.8,2015,November,PG-13,107,Jessie Nelson,"Steve Martin, Diane Keaton, John Goodman, Ed H...","Comedy, Fantasy, Romance",USA,$17000000,42426912.0,United States,17000000.0
510,The Square,7.1,2017,August,R,151,Ruben stlund,"Claes Bang, Elisabeth Moss, Dominic West, Terr...","Comedy, Drama",Sweden,Unknown,9501021.0,"Sweden, Germany, France, Denmark",NaN
1931,The Last Samurai,7.8,2003,December,R,154,Edward Zwick,"Tom Cruise, Ken Watanabe, Billy Connolly, Will...","Action, Drama",Japan,$140000000,454627263.0,"United States, New Zealand, Japan",140000000.0

La columna original de "budget" la mantendremos, aunque la hayamos limpiado y sea la nueva columna de "dollar_budget" la que usemos para los siguientes analisis, porque para el "informe final" aun nos puede dar información util.

## Vemos las estadísticas descriptivas de las columnas

Chequeamos primero las estadísticas descriptivas de las columnas de tipo numérico.

In [31]:
movies.describe().T

,count,mean,std,min,25%,50%,75%,max
rating,1999.0,6.666583e+00,9.117045e-01,1.9,6.15,6.7,7.300000e+00,9.600000e+00
year,2000.0,2.012500e+03,5.767723e+00,2003.0,2007.75,2012.5,2.017250e+03,2.022000e+03
runtime,2000.0,1.131650e+02,1.970820e+01,21.0,99.00,110.0,1.240000e+02,2.420000e+02
income,1855.0,1.887206e+08,2.774062e+08,305.0,24915810.00,90842646.0,2.204566e+08,2.922918e+09
dollar_budget,1696.0,6.118250e+07,6.073130e+07,10.0,17000000.00,40000000.0,8.500000e+07,3.560000e+08

Salvo por las columnas de "income" y "dollar_budget" en general hay muy poca diferencia entre mediana y media, por lo cual nos encontraremos pococ outliers en las demás columnas de tipo numérico. Además vemos que:

- En la columna "rating" la media de puntuación ronda los 6,6 puntos, vamos a tener muchas películas pasables pero no especialmente buenas según los usuarios.
- La distribución de películas por año debe ser bastante homogénea, ya que en la columna de "year" vemos que el registro más bajo es de 2003 y el más alto es de 2022, y la media está en 2012, prácticamente la mitad.
- En la columna "runtime" la distribución tb debe ser bastante homogénea ya que mediay mediana son muy similares.

Ahora chequeamos las estadísticas descriptivas de las columnas de tipo categórico.

In [32]:
movies.describe(include=object).T

,count,unique,top,freq
title,2000,1989,The Hunt,2
month,2000,14,November,260
certificate,1966,12,R,867
directors,2000,1082,Ridley Scott,13
stars,2000,1990,"Jennifer Lawrence, Josh Hutcherson, Liam Hemsw...",2
genre,2000,244,"Action, Adventure, Sci-Fi",92
filming_location,2000,97,USA,906
budget,2000,305,Unknown,304
country_of_origin,2000,406,United States,942

Tras este analisis vemos que :

- En la colummna "title" tenemos 2000 entradas pero de estas solo 1989 son valores únicos, así que habrá películas que compartan título. En top nos sale que el nombre que se repite más veces es "The Hunt", 2 veces, pero probablemente con el resto de nombres que se repitan lo harán el mismo número de veces.

- En la columna "month" vemos que tenemos 14 valores únicos, habrá que investigar eso por si hay errores tipográficos o algo. También vemos que el mes que más se repite es "November" con 260 entradas.

- En la columna "certificate" tenemos 12 categorías pero según el top de categorías que nos dice que la más repetida, con 867 entradas, es "R", que significa menores de 17 requiere de acompañante de padres o tutor. El sistema de categorías en el que se encuentra R consta de 5 categorías... habrá que revisar los valores únicos por si los certificados están mezclados o hay errores tipográficos.

- En la columna "directors" Ridley Scott se lleva el premio al director más repetido con 13 entradas en esta categoría.

- En la columna "stars" vemos que los actores que más se repiten son "Jennifer Lawrence, Josh Hutcherson, Liam Hemsw...	", el reparto de la película los juegos del hambre. Como las estrellas por película están todas juntas en la misma columna es dificil ver quien ha participado en más o menos películas. Habrá que tratar esta columna de alguna forma para poder aprovechar su información de mejor manera.

- En la columna "genre" vemos quela categoría más repetida es "Action, Adventure, Sci-Fi" con 92 entradas en esta categoría, pero pasa un poco lo mismo que con la columna anterior, al tener varias categorías en la misma columna es muy dificil que puedan coinicidir diferentes títulos por lo que habrá que tratarla para poder generalizar un poco más en las estadísiticas.

En el resto de columnas "filming_lacation", "budget" y "country_of_origin" no destacamos nada más que lo que se puede ver a primera vista. La mayoría de películas son y se han rodado en USA y la información "real" de budget la hemos visto en las estadísticas descriptivas anteriores.

## Decidimos separar los principales actores en columnas separadas

Lo primero que vamos hacer es comprobar que en la columna "stars" haya siempre el mismo número de nombres

In [33]:
lista_vacia = []

for x in movies["stars"]:
    lista_vacia.append(len(x.split(",")))

total_actores = set(lista_vacia)
total_actores

{3, 4}

Vemos que no, que tenemos entre 3 y 4 nombres en esa columna, asi que vamos a crear una función pra separar los nombres y ponerlos en columnas separadas.

In [34]:
def sacar_actores(df,col):
    contador = 0
    
    for lista_actores in df[col]:
        lista_actores = lista_actores.split(",")
        if len(lista_actores) == 4:
            df.loc[contador,"star_1"] = lista_actores[0]
            df.loc[contador,"star_2"] = lista_actores[1].lstrip()
            df.loc[contador,"star_3"] = lista_actores[2].lstrip()
            df.loc[contador,"star_4"] = lista_actores[3].lstrip()
            contador += 1
        else :
            df.loc[contador,"star_1"] = lista_actores[0]
            df.loc[contador,"star_2"] = lista_actores[1].lstrip()
            df.loc[contador,"star_3"] = lista_actores[2].lstrip()
            contador += 1
        
        

        #Vamos a tener que poner un contador y hacer que ponga un iloc para ir apendeando

In [35]:
sacar_actores(movies, "stars")

_______________

Descubrimos en el proceso un juego divertido, ver los nombres de los actores e intentar adivinar la película.

In [36]:
#movies.iloc[90, 7]

In [37]:
#movies.iloc[90,0]

_____________

In [38]:
movies.sample(5)

,title,rating,year,month,certificate,runtime,directors,stars,genre,filming_location,budget,income,country_of_origin,dollar_budget,star_1,star_2,star_3,star_4
526,Thor: Ragnarok,7.9,2017,November,PG-13,130,Taika Waititi,"Chris Hemsworth, Tom Hiddleston, Cate Blanchet...","Action, Adventure, Comedy",Australia,$180000000,853983879.0,"United States, Australia",180000000.0,Chris Hemsworth,Tom Hiddleston,Cate Blanchett,Mark Ruffalo
626,Moana,7.6,2016,November,PG,107,"Ron Clements, John Musker, Don Hall, Chris Wil...","Auli i Cravalho, Dwayne Johnson, Rachel House,...","Animation, Adventure, Comedy",Polynesia,$150000000,665069139.0,United States,150000000.0,Auli i Cravalho,Dwayne Johnson,Rachel House,Temuera Morrison
129,Home Sweet Home Alone,3.6,2021,November,PG,93,Dan Mazer,"Ellie Kemper, Rob Delaney, Archie Yates, Aisli...","Comedy, Crime, Family",Canada,$15000000,NaN,United States,15000000.0,Ellie Kemper,Rob Delaney,Archie Yates,Aisling Bea
1584,Surf's Up,6.7,2007,June,PG,85,"Ash Brannon, Chris Buck","Shia LaBeouf, Zooey Deschanel, Jon Heder, Jeff...","Animation, Adventure, Comedy",USA,$100000000,152005713.0,United States,100000000.0,Shia LaBeouf,Zooey Deschanel,Jon Heder,Jeff Bridges
219,The Croods: A New Age,6.9,2020,November,PG,95,Joel Crawford,"Nicolas Cage, Emma Stone, Ryan Reynolds, Cathe...","Animation, Adventure, Comedy",Unknown,$65000000,215905815.0,United States,65000000.0,Nicolas Cage,Emma Stone,Ryan Reynolds,Catherine Keener

## Separamos la columna "genre"

Lo primero que vamos hacer es contabilizar cuantos generos hay exactamente

In [39]:
lista_vacia = []

for x in movies["genre"]:
    x = x.split(",")
    
    for y in x:
       
        lista_vacia.append(y.lstrip())

total_generos = set(lista_vacia)
total_generos

{'Action',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Drama',
 'Family',
 'Fantasy',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'Romance',
 'Sci-Fi',
 'Sport',
 'Thriller',
 'War',
 'Western'}

Viendo los resultados sacamos que en la columna "genre" tenemos mezclados conceptos como género, temática y técnica.

Podríamos clasificar los resultados de la siguiente manera:

|CATEGORÍA  | GENERO |  TEMÁTICA  |  TÉCNICA |
|-----------|--------|------------|----------|
|'Action'   | *  |            |          |
| 'Adventure'| * |            |          | 
|'Animation' |       |            |  *   |
| 'Biography'|       | *      |          |
| 'Comedy'   | * |            |          | 
| 'Crime'   | *  |            |          |
| 'Drama'    | * |            |          | 
| 'Family'|          |  *     |          |
| 'Fantasy'|         |     *  |          | 
| 'History'|         |  *     |          |  
| 'Horror'|  *   |            |          |
| 'Music'|           | *      |          |
| 'Musical'|         | *      |          |
| 'Mystery'|  *  |            |          | 
| 'Romance'|  *  |            |          |
| 'Sci-Fi'|          | *      |          |
| 'Sport'|           |    *   |          |
| 'Thriller'|  * |            |          |
| 'War'|             |  *     |          |
| 'Western'|         |  *     |          |

Sacamos que: 

- En género tenemos 9 categorías que podrían ser 8 ya que podríamos englobar thriller y mystery como la misma categoría.
- En temática tenemos 10 que pueden ser 9 ya que music y musical también se pueden englobar en la misma categoría.
- Como técnica solo tenemos animación.

In [40]:
movies["genre"].value_counts()

Action, Adventure, Sci-Fi       92
Animation, Adventure, Comedy    77
Comedy, Drama, Romance          76
Drama                           65
Action, Adventure, Fantasy      59
Comedy                          57
Comedy, Romance                 56
Action, Adventure, Comedy       55
Drama, Romance                  53
Comedy, Drama                   50
Action, Crime, Drama            43
Crime, Drama, Thriller          42
Action, Crime, Thriller         41
Crime, Drama, Mystery           40
Horror, Mystery, Thriller       38
Action, Adventure, Drama        37
Action, Comedy, Crime           35
Action, Thriller                34
Biography, Drama, History       27
Horror, Thriller                25
Drama, Horror, Mystery          24
Adventure, Comedy, Family       23
Drama, Mystery, Thriller        23
Horror                          22
Animation, Action, Adventure    21
Drama, Thriller                 21
Biography, Crime, Drama         21
Adventure, Family, Fantasy      20
Action, Adventure, Thriller     18
Biography, Drama                18
Drama, Fantasy, Horror          17
Comedy, Crime, Drama            17
Comedy, Family                  15
Action, Sci-Fi, Thriller        14
Biography, Comedy, Drama        13
Action, Drama, Sci-Fi           12
Action, Adventure, Crime        12
Adventure, Comedy, Drama        11
Action, Horror, Sci-Fi          11
Drama, Mystery, Romance         11
Action, Drama, History          11
Comedy, Drama, Fantasy          11
Action, Biography, Drama        11
Thriller                        11
Crime, Drama                    10
Biography, Drama, Romance       10
Comedy, Horror                   9
Action, Drama, Thriller          9
Comedy, Family, Fantasy          9
Drama, Music, Romance            9
Comedy, Drama, Family            9
Biography, Drama, Sport          8
Biography, Drama, Music          8
Action, Drama                    8
Action, Adventure, Mystery       8
Action, Adventure, Family        8
Adventure, Drama, Family         8
Drama, Fantasy, Mystery          7
Action, Mystery, Thriller        7
Comedy, Drama, Music             7
Action, Sci-Fi                   7
Drama, Romance, Sci-Fi           7
Adventure, Drama, Fantasy        7
Drama, Fantasy, Romance          7
Horror, Sci-Fi, Thriller         7
Comedy, Family, Romance          7
Comedy, Sport                    7
Mystery, Thriller                6
Drama, History, Thriller         6
Adventure, Drama, Sci-Fi         6
Comedy, Crime                    6
Crime, Drama, Horror             6
Drama, Horror, Sci-Fi            6
Drama, Mystery, Sci-Fi           6
Action, Adventure, Horror        6
Comedy, Fantasy, Horror          6
Horror, Mystery, Sci-Fi          6
Drama, Horror, Thriller          6
Drama, Romance, Thriller         6
Action, Comedy, Fantasy          5
Comedy, Horror, Mystery          5
Action, Drama, Sport             5
Drama, Sci-Fi, Thriller          5
Comedy, Fantasy                  5
Comedy, Fantasy, Romance         5
Action, Drama, Mystery           5
Action, Fantasy, Horror          5
Comedy, Music                    5
Action, Comedy, Drama            5
Drama, Mystery                   5
Drama, Musical, Romance          5
Animation, Comedy, Family        5
Action, Mystery, Sci-Fi          5
Crime, Thriller                  5
Action, Comedy                   4
Action, Biography, Crime         4
Adventure, Comedy, Fantasy       4
Drama, Family                    4
Action, Comedy, Horror           4
Drama, Sport                     4
Drama, War                       4
Action, Drama, War               4
Crime, Mystery, Thriller         4
Animation, Drama, Family         4
Crime, Horror, Mystery           4
Adventure, Comedy, Crime         4
Horror, Mystery                  4
Action, Drama, Fantasy           4
Drama, Music                     4
Comedy, Sci-Fi                   3
Adventure, Comedy, Sci-Fi        3
Biography, Comedy, Crime         3
Adventure, Drama, Romance        3
Action, Drama, Horror            3
Drama, Thriller, War             3
Drama, Fantasy                   3
Drama, Western                   3
Comedy, Horror, Sci-Fi           3
Crime, Drama, History            3
Action, Fantasy, Thriller        3
Crime, Horror, Thriller          3
Action, Drama, Romance           3
Adventure, Biography, Drama      3
Action, Crime, Sci-Fi            3
Adventure, Comedy                3
Adventure, Fantasy               3
Crime, Drama, Romance            3
Action, Horror, Thriller         3
Comedy, Drama, Musical           3
Adventure, Drama, Horror         3
Comedy, Horror, Thriller         3
Fantasy, Horror, Mystery         3
Action, Horror, Mystery          3
Comedy, Crime, Thriller          3
Biography, Drama, War            3
Animation, Comedy, Drama         3
Comedy, Drama, Thriller          2
Comedy, Drama, Sport             2
Action, Adventure, Biography     2
Animation, Adventure, Family     2
Biography, Drama, Thriller       2
Action, Adventure                2
Drama, Sci-Fi                    2
Drama, History                   2
Drama, Horror                    2
Comedy, Crime, Mystery           2
Action, Comedy, Sci-Fi           2
Biography, Drama, Family         2
Comedy, Drama, Horror            2
Comedy, Crime, Romance           2
Adventure, Drama, History        2
Action, Comedy, Romance          2
Sci-Fi, Thriller                 2
Comedy, Romance, Sport           2
Adventure, Comedy, Music         2
Drama, Horror, Music             2
Drama, Romance, War              2
Comedy, Drama, History           2
Adventure, Drama, Mystery        2
Action, Crime, Fantasy           2
Drama, Family, Fantasy           2
Action, Comedy, Thriller         2
Action, Crime                    2
Biography, Drama, Musical        2
Action, Horror                   2
Animation, Drama, Fantasy        2
Comedy, Musical, Romance         2
Romance, Drama, Family           1
Action, Drama, Family            1
Adventure, Thriller, Western     1
Adventure, Comedy, Romance       1
Adventure, Drama, War            1
Comedy, Mystery                  1
Animation, Action, Comedy        1
Crime, Horror                    1
Adventure, Comedy, Mystery       1
Drama, Music, Musical            1
Drama, Fantasy, Thriller         1
Horror, Sci-Fi                   1
Fantasy, Mystery, Sci-Fi         1
Adventure, Horror, Thriller      1
Adventure, Drama                 1
Adventure, Horror, Sci-Fi        1
Drama, Fantasy, History          1
Drama, History, Music            1
Comedy, Family, Sport            1
Crime, Drama, Music              1
Adventure, Drama, Thriller       1
Crime, Drama, Fantasy            1
Action, Comedy, Family           1
Drama, Fantasy, War              1
Drama, History, Romance          1
Comedy, Crime, Sport             1
Drama, Horror, Musical           1
Action, Comedy, Mystery          1
Horror, Musical, Sci-Fi          1
Crime, Drama, Sport              1
Action, Comedy, War              1
Action, Adventure, Romance       1
Crime, Horror, Western           1
Adventure, Fantasy, Horror       1
Comedy, Horror, Romance          1
Comedy, Drama, Sci-Fi            1
Biography, Comedy, Music         1
Comedy, Fantasy, Mystery         1
Comedy, Musical                  1
Animation, Drama                 1
Comedy, Drama, Mystery           1
Drama, Horror, Romance           1
Action, Horror, War              1
Action, Adventure, Western       1
Drama, Fantasy, Sci-Fi           1
Comedy, Drama, War               1
Romance, Sci-Fi, Thriller        1
Adventure, Biography, Crime      1
Comedy, Horror, Musical          1
Animation, Adventure, Drama      1
Comedy, Fantasy, Music           1
Comedy, Crime, Western           1
Comedy, Romance, Sci-Fi          1
Action, Crime, Mystery           1
Drama, Romance, Sport            1
Drama, Horror, Western           1
Comedy, Family, Musical          1
Family, Fantasy, Musical         1
Drama, History, War              1
Comedy, Crime, Family            1
Drama, Romance, Western          1
Crime, Drama, Musical            1
Adventure, Mystery, Sci-Fi       1
Comedy, Music, Romance           1
Action                           1
Fantasy, Horror, Thriller        1
Horror, Romance, Thriller        1
Animation, Fantasy, Horror       1
Adventure, Horror                1
Action, Crime, Horror            1
Action, Drama, Western           1
Adventure, Sci-Fi, Thriller      1
Comedy, Western                  1
Drama, Music, Thriller           1
Action, Fantasy, Sci-Fi          1
Mystery                          1
Adventure, Horror, Mystery       1
Name: genre, dtype: int64

vamos a chequear cuantas categorías tenemos por fila

In [41]:
lista_vacia = []

for x in movies["genre"]:
    lista_vacia.append(len(x.split(",")))

total_num_generos = set(lista_vacia)
total_num_generos

{1, 2, 3}

Vamos a tratar la técnica, género y temática cada una por separado.

Lo primero que haremos ya que será lo más sencillo es crear una columna nueva para identificar las películas que sean de animación y las que no.

In [42]:
def animacion(col):
    col = col.split(",")
    for palabra in col:
        palabra = palabra.lstrip()
        if palabra == "Animation":
            return "Y"
        else:
            return "N"

In [43]:
movies["animation"] = movies["genre"].apply(animacion)

A continuación vamos a clasificar el género creando una columna por cada entrada de esta categoría.

In [44]:
def clasificar_generos(df,col):    

    
    lista_genero = ['Action', 'Adventure', 'Comedy', 'Crime', 'Drama', 'Horror','Romance', 'Thriller', 'Mystery' ]  
                   
                      
    contador_fila = 0

    for frase in df[col]:
        
        frase = frase.split(", ")
        #print(frase)
        for palabra in frase:
                #palabra = palabra #.lstrip()
                if palabra in lista_genero:
                        
                    df.loc[contador_fila,"genre_" + str(frase.index(palabra))] = palabra

                else:
                     pass

        contador_fila += 1

In [45]:
clasificar_generos(movies,"genre")

Hacemos lo mismo para las temáticas

In [46]:
def clasificar_tematicas(df,col):    

    
    lista_tematica = ['Biography','Family','Fantasy','History', 'Musical', 'Sci-Fi', 'Sport', 'War', 'Western', 'Music'] 
                   
                      
    contador_fila = 0

    for frase in df[col]:
        
        frase = frase.split(", ")
        #print(frase)
        for palabra in frase:
                #palabra = palabra #.lstrip()
                if palabra in lista_tematica:
                        
                    df.loc[contador_fila,"theme_" + str(frase.index(palabra))] = palabra

                else:
                     pass

        contador_fila += 1

In [47]:
clasificar_tematicas(movies,"genre")

In [50]:
movies.head(20)

,title,rating,year,month,certificate,runtime,directors,stars,genre,filming_location,budget,income,country_of_origin,dollar_budget,star_1,star_2,star_3,star_4,animation,genre_0,genre_1,genre_2,theme_2,theme_1,theme_0
0,Avatar: The Way of Water,7.8,2022,December,PG-13,192,James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver...","Action, Adventure, Fantasy",New Zealand,$350000000,2.267947e+09,United States,350000000.0,Sam Worthington,Zoe Saldana,Sigourney Weaver,Stephen Lang,N,Action,Adventure,NaN,Fantasy,NaN,NaN
1,Guillermo del Toro's Pinocchio,7.6,2022,December,PG,117,"Guillermo del Toro, Mark Gustafson","Ewan McGregor, David Bradley, Gregory Mann, Bu...","Animation, Drama, Family",USA,$35000000,1.089670e+05,"United States, Mexico, France",35000000.0,Ewan McGregor,David Bradley,Gregory Mann,Burn Gorman,Y,NaN,Drama,NaN,Family,NaN,NaN
2,Bullet Train,7.3,2022,August,R,127,David Leitch,"Brad Pitt, Joey King, Aaron Taylor Johnson, Br...","Action, Comedy, Thriller",Japan,$85900000,2.392686e+08,"Japan, United States",85900000.0,Brad Pitt,Joey King,Aaron Taylor Johnson,Brian Tyree Henry,N,Action,Comedy,Thriller,NaN,NaN,NaN
3,The Banshees of Inisherin,7.8,2022,November,R,114,Martin McDonagh,"Colin Farrell, Brendan Gleeson, Kerry Condon, ...","Comedy, Drama",Ireland,Unknown,1.972082e+07,"Ireland, United Kingdom, United States",NaN,Colin Farrell,Brendan Gleeson,Kerry Condon,Pat Shortt,N,Comedy,Drama,NaN,NaN,NaN,NaN
4,M3gan,6.4,2022,December,PG-13,102,Gerard Johnstone,"Jenna Davis, Amie Donald, Allison Williams, Vi...","Horror, Sci-Fi, Thriller",New Zealand,$12000000,1.712539e+08,United States,12000000.0,Jenna Davis,Amie Donald,Allison Williams,Violet McGraw,N,Horror,NaN,Thriller,NaN,Sci-Fi,NaN
5,Emancipation,6.1,2022,December,R,132,Antoine Fuqua,"Will Smith, Ben Foster, Charmaine Bingwa, Gilb...","Action, Thriller",Unknown,$120000000,NaN,United States,120000000.0,Will Smith,Ben Foster,Charmaine Bingwa,Gilbert Owuor,N,Action,Thriller,NaN,NaN,NaN,NaN
6,Amsterdam,6.1,2022,October,R,134,David O Russell,"Christian Bale, Margot Robbie, John David Wash...","Comedy, Drama, History",USA,$80000000,3.124581e+07,"United States, Japan",80000000.0,Christian Bale,Margot Robbie,John David Washington,Alessandro Nivola,N,Comedy,Drama,NaN,History,NaN,NaN
7,Violent Night,6.9,2022,December,R,112,Tommy Wirkola,"David Harbour, John Leguizamo, Beverly D Angel...","Action, Comedy, Crime",Canada,$20000000,5.959546e+07,"United States, Canada",20000000.0,David Harbour,John Leguizamo,Beverly D Angelo,Alex Hassell,N,Action,Comedy,Crime,NaN,NaN,NaN
8,The Whale,7.8,2022,December,R,117,Darren Aronofsky,"Brendan Fraser, Sadie Sink, Ty Simpkins, Hong ...",Drama,USA,$10000000,3.110431e+07,United States,10000000.0,Brendan Fraser,Sadie Sink,Ty Simpkins,Hong Chau,N,Drama,NaN,NaN,NaN,NaN,NaN
9,The Fabelmans,7.6,2022,November,PG-13,151,Steven Spielberg,"Michelle Williams, Gabriel LaBelle, Paul Dano,...",Drama,USA,$40000000,9.500361e+06,United States,40000000.0,Michelle Williams,Gabriel LaBelle,Paul Dano,Judd Hirsch,N,Drama,NaN,NaN,NaN,NaN,NaN
10,The Menu,7.5,2022,November,R,107,Mark Mylod,"Ralph Fiennes, Anya Taylor Joy, Nicholas Hoult...","Comedy, Horror, Thriller",USA,$35000000,6.587807e+07,United States,35000000.0,Ralph Fiennes,Anya Taylor Joy,Nicholas Hoult,Hong Chau,N,Comedy,Horror,Thriller,NaN,NaN,NaN
11,Babylon,7.3,2022,December,R,188,Damien Chazelle,"Brad Pitt, Margot Robbie, Jean Smart, Olivia W...","Comedy, Drama, History",USA,$78000000,6.185146e+07,United States,78000000.0,Brad Pitt,Margot Robbie,Jean Smart,Olivia Wilde,N,Comedy,Drama,NaN,History,NaN,NaN
12,X,6.6,2022,March,R,105,Ti West,"Mia Goth, Jenna Ortega, Brittany Snow, Kid Cudi","Horror, Mystery, Thriller",New Zealand,$1000000,1.477986e+07,"United States, Canada",1000000.0,Mia Goth,Jenna Ortega,Brittany Snow,Kid Cudi,N,Horror,Mystery,Thriller,NaN,NaN,NaN
13,Bones and All,7.0,2022,November,R,131,Luca Guadagnino,"Timoth e Chalamet, Taylor Russell, Mark Rylanc...","Drama, Horror, Romance",USA,$16000000,1.413491e+07,"Italy, United States",16000000.0,Timoth e Chalamet,Taylor Russell,Mark Rylance,Kendle Coffey,N,Drama,Horror,Romance,NaN,NaN,NaN
14,Black Adam,6.5,2022,October,PG-13,125,Jaume Collet Serra,"Dwayne Johnson, Aldis Hodge, Pierce Brosnan, N...","Action, Adventure, Fantasy",USA,$195000000,3.912734e+08,"United States, Canada, New Zealand, Hungary",195000000.0,Dwayne Johnson,Aldis Hodge,Pierce Brosnan,Noah Centineo,N,Action,Adventure,NaN,Fantasy,NaN,NaN
15,Spirited,6.6,2022,November,PG-13,127,Sean Anders,"Will Ferrell, Ryan Reynolds, Octavia Spencer, ...","Comedy, Family, Musical",USA,$100000000,NaN,United States,100000000.0,Will Ferrell,Ryan Reynolds,Octavia Spencer,Patrick Page,N,Comedy,NaN,NaN,Musical,Family,NaN
16,Lady Chatterley's Lover,6.7,2022,December,R,126,Laure de Clermont Tonnerre,"Emma Corrin, Jack O Connell, Matthew Duckett, ...","Drama, Romance",UK,Unknown,NaN,"United Kingdom, United States",NaN,Emma Corrin,Jack O Connell,Matthew Duckett,Joely Richardson,N,Drama,Romance,NaN,NaN,NaN,NaN
17,A Christmas Story Christmas,6.8,2022,November,PG,98,Clay Kaytis,"Peter Billingsley, Erinn Hayes, River Drosche,...","Comedy, Family",USA,Unknown,NaN,"United States, Mexico, Hungary, Canada",NaN,Peter Billingsley,Erinn Hayes,River Drosche,Julianna Layne,N,Comedy,NaN,NaN,NaN,Family,NaN
18,Troll,5.8,2022,December,TV-14,101,Roar Uthaug,"Ine Marie Wilmann, Kim Falck, Mads Sj g rd Pet...","Action, Adventure, Drama",Norway,Unknown,NaN,Norway,NaN,Ine Marie Wilmann,Kim Falck,Mads Sj g rd Pettersen,Gard B Eidsvold,N,Action,Adventure,Drama,NaN,NaN,NaN
19,Black Panther: Wakanda Forever,6.8,2022,November,PG-13,161,Ryan Coogler,"Letitia Wright, Lupita Nyong o, Danai Gurira, ...","Action, Adventure, Drama",USA,$250000000,7.918529e+08,United States,250000000.0,Letitia Wright,Lupita Nyong o,Danai Gurira,Winston Duke,N,Action,Adventure,Drama,NaN,NaN,NaN

In [49]:
def clasificar_gerneros(col):

    dicc_clasificaiones = {"class_genre": ['Action', 'Adventure', 'Comedy', 'Crime', 'Drama', 'Horror','Romance', 'Thriller'], #'Mystery'
                           "theme": ['Biography','Family','Fantasy','History', 'Musical', 'Sci-Fi', 'Sport', 'War', 'Western'], #'Music'
                           "technique" : 'Animation'
                           }
    col = col.split(",").lstrip()
    if len(col) > 1:
        for palabra in col:
            if palabra == "Mystery":
                return "Thriller"
            elif palabra == 
    eli

SyntaxError: invalid syntax (542074707.py, line 12)

## Chequeamos los valores únicos